body {
  font-family: sans-serif;
  /* background-color: #508bfc; */
  margin: 0;
  padding: 0;
}
body .container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
body .container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}
body .container header .hamburger {
  background: none;
  line-height: 45px;
  color: #999;
  border: 0;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  text-align: right;
}
body .container header .hamburger p {
  margin: 0;
}
body .container header .cross {
  background: none;
  box-sizing: border-box;
  color: #999;
  border: 0;
  font-size: 48px;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  text-align: end;
}
body .container .menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 30%;
  background: #f1f1f1;
  position: absolute;
  right: 5px;
  text-align: center;
  font-size: 12px;
}
@media (min-width: 768px) {
  body .container .menu {
    width: 30%;
  }
}
body .container .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
body .container .menu ul a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
body .container .menu ul a:hover {
  color: #666;
  text-decoration: none;
}
body .container .menu ul a li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
body .container .menu ul a li:hover {
  display: block;
  background: #dddddd;
  padding: 15px 0 15px 0;
  border-bottom: #b1b1b1 1px solid;
}
body .container .menu ul a li .fa-solid {
  padding: 0 5px;
  font-size: 12px;
  color: #ea544a;
}
@media (min-width: 768px) {
  body .container .menu ul a li .fa-solid {
    padding: 0 10px;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body .container .menu ul a li .fa-solid {
    padding: 0 15px;
    font-size: 16px;
  }
}
#my-btn {
  background-color: #fb5448;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  margin: auto;
  max-width: 300px; /* ボタンの幅を制限する */
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 8px; /* ボタンの丸み */
}

#my-btn:hover {
  background-color: #fc685d; /* ボタンホバー効果 */
  color: white;
  transform: scale(1.03); /* ボタンが大きくなります */
}

/* 柔軟な設計に対応 */
@media (max-width: 768px) {
  #my-btn {
      font-size: 14px;
      padding: 8px 15px;
      max-width: 250px;
  }
}

@media (max-width: 576px) {
  #my-btn {
      font-size: 12px;
      padding: 8px 10px;
      max-width: 200px;
  }
}